$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$button: lighten(#F0620F, 5%);
body {
    background: white;
}

.wrapper {

    background-image: url(https://b.zmtcdn.com/data/images/order/home_page_bg.jpg?output-format=webp);

    position: relative;
    background-size: cover;
    background-position: center top 26%;
    min-height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;


    .wrapper-heading {
        padding-left: 50px;
        color: rgb(221, 218, 213);
        font-size: 4em;
        font-weight: $thin;
    }

    span {
        font-size: 1.7em;
        text-transform: uppercase;
        padding-left: 3px;
    }


}

.food-list {
    background-image: url(../Images/bg.jpg);
    // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlmDY64C_PLJEFKBXYZ8vcE0fMkAZGubwP_w&usqp=CAU);

    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 50px auto;
    
    .scroller {

        .scroller-heading {
            text-align: center;
            font-size: 1.8em;
            font-weight: $bold;
            margin-top: 20px;
            text-transform: capitalize;
            

        }
    }

    .food-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .food-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 5px 10px 5px 10px;
        background: rgb(246, 238, 238);
        width: 850px;
        // border: 1px solid #bebbbb;
        box-shadow: 2px 2px 3px #888888;
        border-radius: 3px;
        
        .food-specs{
            padding-bottom: 5px;
        }

        .food-desc {
            line-height: 1.2em;
        }
    }

    .food-data-content{
        padding: 10px 100px 10px 20px;    
        .food-name{
            font-size: 1.8rem;
            text-transform: capitalize;
            font-weight: 500;
            line-height: 150%;
            color: rgb(28, 28, 28);
        }

        .food-cost{
            font-size: 1.4rem;
            color: rgb(28, 28, 28);
        }
        .food-desc{
            font-size: 18px;
        }
        .food-people{
            font-weight: 500;
            font-size: 17px;
        }
    }

    .food-btn{
        padding-right: 10px;
        
    }
    
    .btn-glow{
        transition: all .2s ease;
        &:hover{
            box-shadow: 2px 2px 10px #242323;
            
        }
    }
    button{      
        border: 0;
        outline: none;
        padding: 13px;
        text-transform: uppercase;
        background: $button;
        color: white;
        font-size: 0.85em;
        border-radius: 4px; 
    }
}